# Build output
bin/
obj/
out/

# Rider / VS
.idea/
!.idea/.idea.Circles/
!.idea/.idea.Circles/.idea/
.idea/.idea.Circles/.idea/*
!.idea/.idea.Circles/.idea/.gitignore
!.idea/.idea.Circles/.idea/indexLayout.xml
!.idea/.idea.Circles/.idea/vcs.xml
.vs/
*.user

# Local runtime
*.log

# EF local db data (if any placed under repo)
pgdata/

# OS
.DS_Store
